body{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.container{
    max-width:300%;
    font-family:sans-serif;

}
.month{
    font-size:3em;
    background:rgba(22, 40, 102, 0.308);
    color:white;
}

.button{
    width:400%;
    table-layout:fixed;
    text-align:center;
    font-size:17px;
    border:1px solid rgb(51, 66, 83);
    background:rgb(255, 0, 0);
}
table, th, td {
    width:100%;
    table-layout:fixed;
    text-align:center;
    font-size:17px;
    border:1px solid rgb(51, 66, 83);
}
tr, th, td{
    padding:20px;
}
th{
    background:rgba(0, 23, 97, 0.747);
    color:white;
}
td{
    background: #c5ffb9dc;
}

tr :hover{
    background: #6dff50dc;
}

th :hover{
    background: #6dff50dc;
}